h1 {
    color: rgb(255, 255, 255);
    font-family:'Alegreya Sans SC';
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 6px;
}
h2 {
    color: #f29545;
    font-family:'Alegreya Sans SC';
    font-size: 45px;
    letter-spacing: 3px;
    word-spacing: 4px;
}
a:link {
    color: #f29545;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-family:'Alegreya Sans SC';
    font-size: 20px;
    word-spacing: 3px;
}
a:visited {
    color: #f29545;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-family:'Alegreya Sans SC';
    font-size: 20px;
    word-spacing: 3px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1625;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
}